<section>
  <h2>Title one</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque omnis adipisci.</p>

  <div class="gallery">
    <figure>
      <img [src]="url" />
      <figcaption>
        <h3>Title two</h3>
        <div class="additional">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <a href="#">Click_1</a>
          <a href="#">Click_2</a>
        </div>
      </figcaption>
    </figure>

    <figure>
      <img [src]="url" />
      <figcaption>
        <h3>Title two</h3>
        <div class="additional">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <a href="#">Click_1</a>
          <a href="#">Click_2</a>
        </div>
      </figcaption>
    </figure>

    <figure>
        <img [src]="url" />
        <figcaption>
          <h3>Title two</h3>
          <div class="additional">
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <a href="#">Click_1</a>
            <a href="#">Click_2</a>
          </div>
        </figcaption>
      </figure>

    <figure>
      <img [src]="url" />
      <figcaption>
        <h3>Title two</h3>
        <div class="additional">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <a href="#">Click_1</a>
          <a href="#">Click_2</a>
        </div>
      </figcaption>
    </figure>

    <figure>
      <img [src]="url" />
      <figcaption>
        <h3>Title two</h3>
        <div class="additional">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <a href="#">Click_1</a>
          <a href="#">Click_2</a>
        </div>
      </figcaption>
    </figure>
  </div>
</section>